* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.buttons {
    margin: 20px;
    background-color: antiquewhite;
}

button{
    border: none;
    padding: 10px 20px;
    font-size: 18px;
    border-radius: 15px;
    background-color: aliceblue;
}

button:focus{
    outline: none;
}