* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.quiz-container {
    border-radius: 15px;
    width: 500px;
    height: 360px;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2);
    position: relative;
    overflow: hidden;
    background-color: white;
    padding: 20px;
}

#question-text {
   text-align: center;
   margin: 20px; 
}

ul {
    list-style: none;
    /* padding: 25px; */
}

li {
    /* margin-bottom: 20px; */
    font-size: 1.2rem;
    margin-left: 1.2rem;
}

button {
    display: block;
    width: 100%;
    font-size: 1.2rem;
    background-color: #F1C40E;
    color: white;
    padding: 10px;
    margin: 0;
    border: none;
    outline: none;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;    
}
