* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.container {
    width: 350px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    text-align: center;
}

.header {
    background-color: blue;
    padding: 20px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: white;
}

.time {
    font-size: 40px;
    font-weight: bold;
    transition: width 0.5s ease;
}

.button {
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

button {
    border: none;
    outline: none;
    background-color: blue;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    color: white;
}
