* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: antiquewhite;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    text-align: center;
    border: 1px solid black;
    border-radius: 20px;
    background-color: white;
    padding: 30px;
    width: 600px;
}

.container h2{
    margin-bottom: 20px;
}
.code-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.code-container .code{
    font-size: 4rem;
    color: black;
    margin: 0 5px;
    text-align: center;
    width: 100px;
    border: 1px solid black;
    height: 100px;
}

.code::-webkit-outer-spin-button, 
.code::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.code:valid{
    border-color: lightblue;
    box-shadow: 0 0 10px lightblue;


}